/* Basic setup */
html{
    font-family: "Roboto", "Arial", sans-serif;
}

body{
    margin: 0;
}

.container{
    height: 100%;
}

/* Logo */
#logo{
    height: 150px;
    width: 150px;
}

/* Guide */
#messageGuide{
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Map */
.map{
    height: 500px;
    width: 800px;
    margin: 65px 0;
    background-repeat: no-repeat;
    background-image: url("/webapp/static/assets/map.svg");
    position: relative;
    left: 125px;
}

/* Station */
.station{
    position: absolute;    
}

.station#JurongEast{
    left: -26px;
    top: 85px;
}

.station#Clementi{
    left: -13px;
    top: 283px;
}

.station#BuonaVista{
    left: 183px;
    top: 283px;
}

.station#CityHall{
    left: 386px;
    top: 283px;
}

.station#PayaLebar{
    left: 584px;
    top: 283px;
}

.station#Changi{
    left: 765px;
    top: 283px;
}

.station#Woodlands{
    left: 194px;
    top: -52px;
}

.station#Bishan{
    left: 386px;
    top: 85px;
}

.station#Orchard{
    left: 400px;
    top: 185px
}

.station#MarinaBay{
    left: 386px;
    top: 416px;
}

.station#Harbourfront{
    left: -25px;
    top: 416px;
}

.station#HawParVilla{
    left: 183px;
    top: 416px;
}

.station#BotanicGardens{
    left: 173px;
    top: 85px;
}

.station#Serangoon{
    left: 592px;
    top: 85px;
}

.station#Esplanade{
    left: 592px;
    top: 416px;
}

/* Station Button */
.stationButton{
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border: 5pt solid #000000;
    border-radius: 50%;
    margin: auto;
}

.stationButton:hover{
    cursor: pointer;
    background-color: #bdbdbd;
}

.stationButton.selected{
    background-color: #616161;
}

/* Station Info */
.station .stationInfo{
    text-align: center;
    font-size: 14px;
    position: relative;
    right: 55px;
    bottom: 5px;
}

#Woodlands .stationInfo,
#Serangoon .stationInfo,
#Changi .stationInfo{
    right: 0;
}

/* Line tag */
.lineTag{
    display: inline;
    color: #ffffff;  
    margin: 0 3px;    
    padding: 2px 5px;
}

.station .lineTag{
    font-size: 12px;
}

.route .lineTag{
    font-size: 22px;
}

.lineTag.EWL{
    background-color: #48B553;
}

.lineTag.NSL{
    background-color: #E90024;
}

.lineTag.CCL{
    background-color: #FDB027;
}

/* Route */
.routePicker{
    width: 100%;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 5px;
    margin: 10px 0;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    cursor: pointer
}

.route:hover{
    background-color: #bdbdbd;
}

.route *{
    display: inline;
    font-size: 18px;
    pointer-events: none;
}

.route.selected{
    border-color:  #616161; 
}

/* Arrow */
.arrow{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-image: url("/webapp/static/assets/arrow.svg");    
}

/* Button */
#button{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}

/* Transitions */
.containerTrans-appear {
  opacity: 0.01;
}

.containerTrans-appear.containerTrans-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.messageGuideTrans-enter,
.routePickerTrans-enter {
  opacity: 0.01;
}

.messageGuideTrans-enter.messageGuideTrans-enter-active,
.routePickerTrans-enter.routePickerTrans-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.messageGuideTrans-leave {
  opacity: 1;
}

.messageGuideTrans-leave.messageGuideTrans-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}